
.about-page {
    max-width: 1110px;
    margin: 0 auto;
    width: 100%;
  }
  
  .about-page__content {
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
    padding: 55px;
  }
  
  .about-page__content h2 {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .about-page__content p {
    line-height: 1.6;
  }
  

  /* @media screen and (min-width: 1024px) {
    .about-page {
      max-width: 960px;
    }
    
    .about-page__content {
      padding: 40px;
      font-size: 18px;
    }
    
    .about-page__content h2 {
      font-size: 36px;
    }
  } */
  
  /* About page styles for screens between 767px and 1023px */
  @media screen and (min-width: 767px) and (max-width: 1023px) {
    .about-page {
      max-width: 720px;
    }
    
    .about-page__content {
      padding: 30px;
      font-size: 16px;
    }
    
    .about-page__content h2 {
      font-size: 30px;
    }
  }
  
  /* About page styles for screens between 720px and 766px */
  @media screen and (min-width: 720px) and (max-width: 766px) {
    .about-page {
      max-width: 480px;
    }
    
    .about-page__content {
      padding: 20px;
      font-size: 14px;
    }
    
    .about-page__content h2 {
      font-size: 26px;
    }
  }
  
  /* About page styles for screens below 720px */
  @media screen and (max-width: 719px) {
    .about-page {
      max-width: 100%;
    }
    
    .about-page__content {
      padding: 10px 30px;
      font-size: 13px;
    }
    
    .about-page__content h2 {
      font-size: 24px;
    }
  }
  