.footer {
  background-color: #b37a13;
    color: #fff;
    padding: 10px 0;
  }
  
  .footer__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    text-align: left;
  }
  
  .footer__contact,
  .footer__links,
  .footer__social {
    flex: 1;
    margin: 0 10px;
  }
  
  .footer__contact h3,
  .footer__links h3,
  .footer__social h3 {
    margin-bottom: 10px;
  }

 
  
  
  .footer__links ul {
    list-style: none;
    padding: 0;
    line-height: 17px;
  }
  
  .footer__links li {
    margin-bottom: 5px;
  }
  
  .footer__links a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer__links a:hover {
    text-decoration: underline;
  }
  
  .footer__social-icons {
    display: flex;
    /* justify-content: center; */
    margin-top: 10px;
  }
  
  .footer__social-icons a {
    display: inline-block;
    color: #fff;
    margin-right: 10px;
    font-size: 18px;
  }
  
  .footer__social-icons a:last-child {
    margin-right: 0;
  }
  
  .footer__social-icons a:hover {
    color: #bbb;
  }
  
  .footer__copyright {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer__copyright p {
    margin: 0;
  }

  @media screen and (max-width: 480px) {
    .footer {
      padding: 2px;
    }
    .footer__content {
      font-size: 14px;
      display: block;
  }
  .footer__contact, .footer__links {
    line-height: 10px;
}
.footer__contact {
  position: relative;
  margin-bottom: 40px;
}

.footer__contact::before,
.footer__contact h3 ::after {
  content: "";
  position: absolute;
  left: -1%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 33%;
  height: 2px;
  top: 25px;
  background-color: #fff; 
}

.footer__contact::before {
  transform: translateX(1%); /* Position the line to the left */
}

.footer__contact h3 ::after {
  transform: translateX(50%); /* Position the line to the right */
}

.footer__links h2 {
  position: relative;
}

.footer__links h2::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: -1px;
  width: 35%;
  height: 2px;
  background-color: #fff;
}

.footer__social h2 {
  position: relative;
}

.footer__social h2::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: -1px;
  width: 30%;
  height: 2px;
  background-color: #fff;
}
  }
